In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import numpy as np
import pandas as pd
import requests

# iris_data_str = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
# 파일이름만 주고 받아옴.
# 형태는 csv형태
# columns 하나가 series이고 이것들의 집합이 pandas.dataframe
iris_df = pd.read_csv('iris.data', header=None)
print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
s1 = pd.Series(list('abcde'))
print(s1)
print(type(iris_df), type(s1))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [17]:
# 하나의 데이터 타입으로 취급하는데 현재 정해지지 않았다.
# 그래서 문자열로 타입을 잡고 있다.
s2 = pd.Series([1,1.0,'a'])
s3 = pd.Series([x for x in range(10,20)])
# print(s2)
# print(s3)
# print(s3[3])
# print(s3[3:8:2])
# print(s3[[3,7,9]])
print(s3[s3>15])

6    16
7    17
8    18
9    19
dtype: int64

In [20]:
print(s3.ndim)
print(s3.dtype)
print(s3.shape)

s3_f = s3.astype(np.float64)
print(s3_f)

1
int64
(10,)
0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64

In [22]:
s3_np = s3.to_numpy()
print(s3_np, type(s3_np))

[10 11 12 13 14 15 16 17 18 19] <class 'numpy.ndarray'>

In [23]:
# 브로드 캐스팅

print(s3*3)

0    30
1    33
2    36
3    39
4    42
5    45
6    48
7    51
8    54
9    57
dtype: int64

In [39]:
### df
s1 = pd.Series([x for x in range(10,20)])
s2 = pd.Series([x for x in range(100,120)])
s3 = pd.Series(list('adsafqwrrfwqlksd'))
df1 = pd.DataFrame({'a':s1,'b': s2,'c': s3}) 
# print(df1)
# print(df1['b'])
# print(df1['a','b'])
# print(df1[2:5]['a'])
print(df1[:5])

      a    b  c
0  10.0  100  a
1  11.0  101  d
2  12.0  102  s
3  13.0  103  a
4  14.0  104  f

In [43]:
print(df1.head(0))

Empty DataFrame
Columns: [a, b, c]
Index: []

In [46]:
print(df1)
print(df1.loc[:'a'])

       a    b    c
0   10.0  100    a
1   11.0  101    d
2   12.0  102    s
3   13.0  103    a
4   14.0  104    f
5   15.0  105    q
6   16.0  106    w
7   17.0  107    r
8   18.0  108    r
9   19.0  109    f
10   NaN  110    w
11   NaN  111    q
12   NaN  112    l
13   NaN  113    k
14   NaN  114    s
15   NaN  115    d
16   NaN  116  NaN
17   NaN  117  NaN
18   NaN  118  NaN
19   NaN  119  NaN
       a    b    c
0   10.0  100    a
1   11.0  101    d
2   12.0  102    s
3   13.0  103    a
4   14.0  104    f
5   15.0  105    q
6   16.0  106    w
7   17.0  107    r
8   18.0  108    r
9   19.0  109    f
10   NaN  110    w
11   NaN  111    q
12   NaN  112    l
13   NaN  113    k
14   NaN  114    s
15   NaN  115    d
16   NaN  116  NaN
17   NaN  117  NaN
18   NaN  118  NaN
19   NaN  119  NaN

In [54]:
# 빈 값의 타입은?
print(df1.loc[3:10,['a', 'b']])
print(df1.iloc[3:10,[0,2]])

       a    b
3   13.0  103
4   14.0  104
5   15.0  105
6   16.0  106
7   17.0  107
8   18.0  108
9   19.0  109
10   NaN  110
      a  c
3  13.0  a
4  14.0  f
5  15.0  q
6  16.0  w
7  17.0  r
8  18.0  r
9  19.0  f